*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#FFFFFF ;
}

.container{
 
    text-align: center;
    width: 80%;
    margin: 80px auto;
}
.main-box{
    color: black;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 25px;
}
.box{
    font-size: 30px;
}
.search{
    width: 500px;
    
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid gray;
}

.search input{
    padding: 5px 2px;
    width: 80%;
    border: none;
    font-size: 25px;
    outline: none;
}
.search input:hover{
    border: none;
    outline: none;
}
.search button {
    font-size: 25px;
    border: none;
}
.search button i{
    color: grey;
}
.search i{
    color: grey;
    font-size: 25px;
    padding: 5px 3px;
    cursor: pointer;
}
.icon-box{
    width: 400px;
    float: right;

    position: relative;
    top: -50px;
    left: 80px;
    border-radius: 20px;
}
 .icon{


    width: 70px;
   
    border: 0.5px ;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px 8px;
    border-radius: 20px;

    
}
 .icon i{
    cursor: pointer;
    display: block;
    font-size: 34px;
    padding: 10px 7px 10px 7px;
 
   
}

.d-none{
    display: none;
}




    @media only screen and (max-width: 768px) {
        .container{
            width: 100%;
            margin: 80px auto;
        }
        .main-box {
            font-size: 35px;
        }
    
        .box {
            font-size: 24px;
        }
        .search{
            width: 80%;
        }
    
        .search input {
            font-size: 22px;

        }
     
        .icon-box{
            text-align: center;
            width: 50px;
            height: 100px;
            position: relative;
            left: 90%;
           
          
        }
        .icon {
        
            position: relative;
            left: 90%;
           
        }
    
        .icon i {
            font-size: 20px;
        }
        .icon-box{
            display: none;
        }
    }
    

